body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
nav {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline;
}
.menu a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
header, footer{
    background-color: #1f2937;
}
header {
    padding: 0 40px;
}
footer {
    padding: 20px 40px;
    color:#e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;
}
P {
    font-size: 18px;
}
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}
h3 {
    color: #f9faf8;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 0;
    margin: 0;
}
.hero > .content > p {
    color: #e5e7eb;
}
.button {
    background-color: #3882f6;
    width: 100px;
    height: 25px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #f9faf8;
}
.hero_button {
    font-weight: bold;
}
.product_buttn {
    font-weight: light;
    border: 1px solid #f9faf8;
}
.conteiner_sign {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_box {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 800px;
    margin: 50px;
}
.sign_box > .sign_content > p {
    color: #f9faf8;
    padding: 0;
    margin: 0;
}
.conteiner_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}
.cont_boxes {
    display: flex;
    flex-wrap: wrap;
}
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}
.box_conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.conteiner_quot {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 20px 0;
}
blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
figcaption {
    font-weight: bolder;
}